* {
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 45px;
}

ul {
  list-style: none;
}

p {
  font-size: 35px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
  color: white;
  background-color: black;
}

header a {
  text-decoration: none;
  color: antiquewhite;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: antiquewhite;

  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.home {
  max-width: 600px;
  /* establece un ancho m치ximo para la secci칩n */
  margin: 0 auto;
  /* centra la secci칩n horizontalmente */
  text-align: center;
}

.a1 {
  color: #adadad;
}

.acercademi {
  /* centra la secci칩n horizontalmente */
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 140px;
  padding-right: 140px;
}

.pcolor {
  color: #adadad;
}

.portafolio {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tituloPortafolio {
  color: white;
  font-size: 50px;
  padding-bottom: 15px;
}

.imagenesPortafolio {
  height: 150%;
  padding-left: 150px;
  padding-right: 150px;
  align-items: center;
}

.habilidades {
  text-align: center;
}

.experience {
  padding: 1em;
  text-align: center;
  margin: 0 auto;
}

.experience-items {
  display: inline-block;
}

.contacto {
  text-align: center;
}

.titulo-contacto {
  text-align: center;
}

.iconos-contacto {
  display: flex;
  justify-content: center;
}

.contacto {
  text-align: center;
}

.titulo-contacto {
  margin-bottom: 30px;
}

.iconos-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.iconos-contacto img {
  margin-right: 15px;
  margin-bottom: 15px;
}

.iconos-contacto p {
  margin-bottom: 15px;
}

.container {
  text-align: center;
}

.iconosPerfil img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.iconosHabilidades img {
  width: 80px;
  height: 80px;
  background-color: #282828;
  border-radius: 50%;
}